.product{
    float:left;
    width: 400px;
    height: 150px;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(77, 57, 22);

}